#mregis{
    position: absolute;
    bottom: 40px;
    right: 90px;
    height: 48px;
    width: 92px;
    background: rgb(86, 228, 64);
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.154353px;
    text-decoration-line: underline;
}


    .content {
        position: absolute;
        background-color: #fefefe;
        margin: 0% auto; /* 15% from the top and centered */
        top: 14%;
        padding: 20px;
        border: 1px solid 
        #888;
        text-align: center;
        position: relative;
        height: 450px;
        width: 700px;
        box-shadow: 0px 6px 18px rgba(216, 216, 216, 0.109);
        border-radius: 8px;
        font-size: 30px;
      }

      mat-form-field{
        width: 80%;
        font-size: 20px;
    }

      .blue-back{
        background-color: #66A4EC;
        background: -webkit-linear-gradient(to right, #7f7fd5, #66A4EC, #91eae4); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #7f7fd5, #66A4EC, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
        height: 100%;
      }