#locomponent{
    width: calc(98vw - 286px);
    height: calc(96vh - 30px);
    background: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    position: relative;
}

#locontainer{
    margin-left: 20px;
    margin-right: 20px; 
    background: #F0F7FF;
/* card shadow */
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
border-radius: 4px;
height: calc(92vh - 113.6px);
}

#ilocontainer{
    overflow-y: scroll;
    margin-left: 8px;
    margin-right: 20px; 
    height: calc(89vh - 133.6px);
}

#title{
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.01em;
    margin-left: 30px;
    margin-bottom: 20px;
    color: #334D6E;
}

.top{
    width: 100%;
    height: 20px;
}

#bottommar{
    margin-bottom: 20px;
}

#plocation{
    position: absolute;
    width: 53px;
    height: 53px;
    margin-top: 3px;
    margin-right: 10px;
    left: 20px;
    top: 12px;
    background-size: contain;
    background-size: cover;
    vertical-align: middle;
    background: url(./../../../../resources/plocation.png);
}

#location{
    width: 100%;
    height: 83px;
    position: relative;
}

#bottomhr{
    position: absolute;
    bottom: 0px;
}

#namelocation{
    position: absolute;
    top: 12px;
    left: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.154353px;
    
    color: #000000;
}

#lat{
    left: 80px;
    top: 40px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.123482px;
    
    color: #706A6A;
}

#lng{
    left: 230px;
    top: 40px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.154353px;
    
    color: #706A6A;
}

#id{
    left: 380px;
    top: 40px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.154353px;
    
    color: rgb(76, 73, 73);
}


#remove{
    position: absolute;
    top: 40px;
    right: 20px;
    height: 28px;
    width: 62px;
    background: #FF5A5A;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.154353px;
    text-decoration-line: underline;
}

#edit{
    position: absolute;
    top: 40px;
    right: 90px;
    height: 28px;
    width: 62px;
    background: #66A4EC;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.154353px;
    text-decoration-line: underline;
}

#add{   
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 15px;
    width: 32px;
    height: 32px;
    background: url(./../../../../resources/add.png);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid 
    #888;
    text-align: center;
    position: relative;
    height: 350px;
    width: 700px;
    box-shadow: 0px 6px 18px rgba(216, 216, 216, 0.109);
    border-radius: 8px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  mat-form-field{
      width: 80%;
      font-size: 20px;
  }

  #madd{
    position: absolute;
    bottom: 40px;
    right: 90px;
    height: 48px;
    width: 92px;
    background: rgb(65, 248, 37);
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.154353px;
    text-decoration-line: underline;
}

#medit{
    position: absolute;
    bottom: 40px;
    right: 90px;
    height: 48px;
    width: 92px;
    background: rgb(44, 136, 228);
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.154353px;
    text-decoration-line: underline;
}
  

