#component{
    width: calc(98vw - 286px);
    height: calc(96vh - 30px);
    background: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    position: relative;
}

#container{
    margin-left: 20px;
    margin-right: 20px; 
    background: #F0F7FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    height: calc(92vh - 113.6px);
}

#icontainer{
    overflow-y: auto;
    margin-left: 8px;
    margin-right: 20px; 
    height: calc(89vh - 133.6px);
}

#title{
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.01em;
    margin-left: 30px;
    margin-bottom: 20px;
    color: #334D6E;
}

.top{
    width: 100%;
    height: 20px;
}

#bottommar{
    margin-bottom: 20px;
}

#preport{
    position: absolute;
    width: 53px;
    height: 53px;
    margin-top: 3px;
    margin-right: 10px;
    left: 20px;
    top: 12px;
    background: url(./../../../../resources/preport.png);
    background-size: contain;
    background-size: cover;
    vertical-align: middle;
}

#report{
    width: 100%;
    height: 300px;
    position: relative;
}

#bottomhr{
    position: absolute;
    bottom: 0px;
}

#namelocker{
    position: absolute;
    top: 20px;
    left: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.154353px;
    color: #000000;
}

#reportID{
    position: absolute;
    bottom: 20px;
    left: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.154353px;
    color: #706A6A;
    z-index: 1;
}

#lockerID{
    position: absolute;
    bottom: 20px;
    left: 180px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.154353px;
    color: #706A6A;
    z-index: 1;
}


#time{
    position: absolute;
    bottom: 20px;
    left: 270px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.154353px;
    color: #706A6A;
    z-index: 1;
}


#resolved{
    position: absolute;
    bottom: 12px;
    right: 2.7%;
    height: 28px;
    width: 62px;
    background: #FF5A5A;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.154353px;
    text-decoration-line: underline;
}

#reportdetails{
    background: #FFFFFF;
    width: calc(97% - 90px);
    height: 195px;
    position: absolute;
    top: 55px;
    left: 90px;
    overflow-y: auto;
}

#text{
    margin: 10px 10px;
    font-size: 15px;
}

.item{
    min-width: 620px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid 
    #888;
    text-align: center;
    position: relative;
    height: 190px;
    width: 700px;
    box-shadow: 0px 6px 18px rgba(216, 216, 216, 0.109);
    border-radius: 8px;
  }

.cd-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }
  
  .cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
  
  .cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
  }
  
  .is-visible .cd-popup-container {
    transform: translateY(0);
  }

  .confirm_modal {
    background-color: #fefefe;
    margin: 17% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid 
    #888;
    text-align: center;
    position: relative;
    height: 130px;
    width: 650px;
    box-shadow: 0px 6px 18px rgba(216, 216, 216, 0.109);
    border-radius: 8px;
  }

  #mConfirm {
    position: absolute;
    bottom: 30px;
    right: 60px;
    height: 40px;
    width: 120px;
  }

  #mCancel{
    position: absolute;
    bottom: 30px;
    right: 200px;
    height: 40px;
    width: 120px;
  }
