# Dependency directory
node_modules/

# Environment variables
.env

# OS metadata
.DS_Store
Thumbs.db

# Test log
coverage/

# Temp file storage
tmp/

# Docker volume
volumes/*
.vscode/c_cpp_properties.json
.vscode/arduino.json
