# Dependency directory
node_modules/

# Environment variables
.env

# OS metadata
.DS_Store
Thumbs.db

# Test log
coverage/

# Temp file storage
tmp/

# Docker volume
volumes/*
volumes-test/*

# Nginx
nginx-data/*

# Editor configuration
.vscode/*
backend-old/*


# Other files
backend/src/bot/helpMe.jpeg
backend/src/bot/manual.jpeg
