version: "3.2"

services:
  backend:
    container_name: ice-project-backend
    restart: always
    environment:
      SERVER_URL:
      MYSQL_SERVER: db
      MYSQL_USER:
      MYSQL_PASSWORD:
      MYSQL_DATABASE:
      CHANNEL_ID:
      CHANNEL_SECRET:
      IOT_DEVICE_SECRET:
      ELASTICSEARCH_URL: http://elasticsearch:9200/
    depends_on:
      - db
      - elasticsearch
  db:
    image: mysql:5.7
    container_name: ice-project-db
    restart: always
    environment:
      MYSQL_DATABASE:
      MYSQL_USER:
      MYSQL_PASSWORD:
      MYSQL_ROOT_PASSWORD:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.6.0
    container_name: ice-project-elasticsearch
    restart: always
  kibana:
    image: docker.elastic.co/kibana/kibana-oss:6.6.0
    container_name: ice-project-kibana
    restart: always
    depends_on: 
      - elasticsearch
  metricbeat:
    image: docker.elastic.co/beats/metricbeat:6.6.0
    container_name: ice-project-metricbeat
    # restart: always
    environment: 
      MYSQL_USER:
      MYSQL_PASSWORD:
    depends_on: 
      - elasticsearch
      - kibana
    # command: ['setup','-e']
