MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
SERVER_URL=http://localhost
CHANNEL_ID=0000000000
CHANNEL_SECRET=xxxxxxxxxxxxxxxxx
IOT_DEVICE_SECRET=secret

NGINX_FILES_PATH=./nginx-data

NGINX_VIRTUAL_HOST=ice-project.com
BACKEND_VIRTUAL_HOST=api.ice-project.com
LETSENCRYPT_EMAIL=ichannel.jakpat@gmail.com
