<div id = "component">
<div class="top"></div>
      <div id = "title">Users
      </div>
            <hr id = "bottommar">

    <div id = "container">

    <div class="top"></div>
      <div id = "icontainer">
          <div *ngFor="let user of users; let i = index" class = "item">
              <div id = "user">
                <div id = "puser" [ngStyle]="{'background-image':'url(' + user.profileImage + ')'}"></div>
                <div id = "nameuser">{{user.firstName}} {{user.lastName}}</div>
                <div id = "nationalId">National ID: {{user.nationalID}}</div>
                <div id = "phoneNo" >Phone no: {{user.phone}}</div>
                <div id = "credits" >Current credits: <span class = 'green'>{{user.totalCredit}}</span></div>
                <!-- <button id = "edit" > Edit </button> -->
                <button id = "addcredits" (click)="openadd($event,user.nationalID)" > Add Credits </button>
                <hr id = "bottomhr">
                
            </div>
    </div>
  </div>
</div>
</div>

<div id="addModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeadd(f)">&times;</span>
    <div class="mtitle">Add Credits</div>
    <form (ngSubmit)="onAdd(f)" #f="ngForm">
    <div id = "i1">
      <mat-form-field appearance="legacy">
        <mat-label>Credits</mat-label>
        <input matInput required ngModel type="number" name="credits">
      </mat-form-field>
    </div>
      <button id = "madd" [disabled]="!f.valid"> Add </button>
   </form>
  </div>

</div>
