#slocker{
        width: calc(100% - 60px);
        height: 60px;
        background-color: #FFFFFF;;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: normal;
        border: 0;
        padding: 0;
        padding-left: 60px;
        z-index: -1;

}

input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.01em;
    
    color: #90A0B7;
}

#search{
    position: absolute;
    top: 23px;
    left: 290px;
    width: 15px;
    height: 15px;
    display: inline-block;
     background: url(./../../../resources/search.png);
}

#top{
    height: 30px;
    width: 100%;
}

.clocker{
    position: absolute;
    left: 286px;
}

.cnoti{
    position: absolute;
    left: 951px;
}

@media screen and (max-width: 1405px) {
    .cnoti {display: none;}
  }