<div id = "ncomponent">

    <div class="top"></div>
      <div id = "title">
        Lockers To Be Added
      </div>
      <hr id = "bottommar">

      <div id = "ncontainer">

          <div class="top"></div>
            <div id = "incontainer" >

                <div *ngFor="let unadded of unregistered; let i = index" class = "item">
                    <div id = "locker">
                    <div id = "plockers"></div>
                    <div id = "idlock">ID: {{unadded.id}}</div>
                    <div id = "seriallock">SN: {{unadded.serialNumber}}</div>
                    <button id = "add" (click)="openadd(fe,unadded.id)" > Activate </button>
                    <hr id = "bottomhr">
                  </div>
              </div>

            </div>
      
        </div>

        <div id="addModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close" (click)="closeadd(fe)">&times;</span>
              <div class="mtitle">Activate Locker</div>
              <form (ngSubmit)="onAdd(fe)" #fe="ngForm">
              <div id = "i1">
                <mat-form-field appearance="legacy">
                  <mat-label>Name</mat-label>
                  <input matInput required ngModel name="name">
                </mat-form-field>
              </div>
              <div id = "i2">
                  <mat-form-field appearance="legacy">
                    <mat-label>Location ID</mat-label>
                    <mat-select required ngModel name="locationID">
                        <mat-option *ngFor="let id of locationsid" [value]="id">
                          {{id}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>
                <div id = "i3">
                  <mat-form-field appearance="legacy">
                    <mat-label>Number</mat-label>
                    <input matInput required ngModel name="number" minlength="2" maxlength="2">
                  </mat-form-field>
                </div>
                <button id = "madd" [disabled]="!fe.valid"> Activate </button>
             </form>
            </div>
          
          </div>
  
</div>
