<div class="sidenav">

    <h1 id = "lgtitle" class="noselect">Locker Swarm</h1>
    <hr id = "thr">

    <div  id = "admindt" >
      <div id = "adname">  Admin name </div>
      <div id = "addetails"> Details </div>
    </div>

    <div id = "tab">
      <a class="item" routerLinkActive="active" routerLink="/admin/lockers" class="noselect" style="cursor: pointer;"> <div id = "v1"></div> Lockers</a>
      <a class="item" routerLinkActive="active" routerLink="/admin/locations" class="noselect" style="cursor: pointer;"> <div id = "v2"></div> Locations</a>
    </div>

   <hr id = "bhr">
   
    <div id = "logout" (click)="logout($event)" class="noselect">
       <div id = "close"></div> <div id = "logtext"> Log Out </div>
    </div>

  </div>
  
  <div class="main">
      <router-outlet></router-outlet>
  </div>



