<div class="sidenav">

    <h1 id = "lgtitle" class="noselect">Locker Swarm</h1>
    <hr id = "thr">

    <div  id = "admindt" >
      <div id = "img_admin"></div>
      <div id = "adname" ></div>
      <div id = "addetails"></div>
    
    </div>

    <div id = "tab">
      <a class="item" routerLinkActive="active" routerLink="/admin/lockers" class="noselect" style="cursor: pointer;"> <div id = "v1"></div> Lockers</a>
      <a class="item" routerLinkActive="active" routerLink="/admin/locations" class="noselect" style="cursor: pointer;"> <div id = "v2"></div> Locations</a>
      <a class="item" routerLinkActive="active" routerLink="/admin/users" class="noselect" style="cursor: pointer;"> <div id = "v3"></div> Users</a>
      <a class="item" routerLinkActive="active" routerLink="/admin/groups" class="noselect" style="cursor: pointer;"> <div id = "v4"></div> Groups</a>
      <a class="item" routerLinkActive="active" routerLink="/admin/reports" class="noselect" style="cursor: pointer;"> <div id = "v5"></div> Reports</a>
    </div>

   <hr id = "bhr">
   
    <div id = "logout" (click)="logout($event)" class="noselect" style="cursor: pointer;">
       <div id = "close"></div> <div id = "logtext"> Log Out </div>
    </div>

  </div>
  
  <div class="main">
      <router-outlet></router-outlet>
  </div>



