body {
  font-family: Roboto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.am-navbar {
  background-color: #2962ff !important;
  height: 55px !important;
}

.ant-card-body {
  padding: 12px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

p.text-center {
  text-align: center;
}
.is-bold {
  font-weight: bold;
  letter-spacing: 0.154353px;
}
.card-titletext {
  font-size: 12px;
  color: black;
  font-weight: bold;
  margin-bottom: 4px;
}

.card-descriptiontext {
  font-size: 11px;
  letter-spacing: 1.12px;
  color: #949494;
  margin-bottom: 4px;
}

.input {
  border-width: 0px;
  border-style: none;
}

.bg-primary {
  background-color: #eef4fb;
}

.button {
  border-style: none;
  border-color: none;
}

.button.default {
  border-radius: 8px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.154353px;
  width: 32vw;
  padding: 12px;
}

.bg-danger {
  background-color: #ff4000;
}

.bg-success {
  background-color: #18b00d;
}
ul.ant-card-actions {
  background-color: white !important;
}

.ant-card-actions > li:not(:last-child) {
  border-right: transparent !important;
}

.location-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5c5858;
  font-size: 14px;
  letter-spacing: 0.120052px;
}

.search-bar-container {
  background: white;
  height: 37px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}
.am-card-header-content {
  font-weight: bold;
  letter-spacing: 0.154353px;
}
.am-navbar-title {
  font-weight: bold;
  font-size: 1.5em !important;
  letter-spacing: 0.171503px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.am-card-header-content img {
  margin-right: 12px !important;
}

.App-link {
  color: #0db7ed;
}

.am-list-item .am-input-label {
  margin-right: 12px !important;
}

.is-white {
  color: white;
}

.bg-dark-primary {
  background-color: #2979ff;
}

.p-12 {
  padding: 12px;
}

.card-tab-left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 52px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-tab-right {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 52px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.locker-details-container {
  color: black;
  letter-spacing: 0.154353px;
  font-size: 16px;
  padding: 12px;
}

div.center-only-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.report {
  width: 64%;
  padding: 16px 20px;
  border-radius: 8px;
  border-width: 0px;
  background-color: #0d6cb0;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
